{% extends 'base.html.twig' %}

{% block title %}Liste des tournois{% endblock %}

{% block body %}
    <h1>Liste des tournois</h1>

    <br />
    <a href="{{ path('app_tournament_new') }}">Nouveau tournois</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tournament in tournaments %}
            <tr>
                <td>{{ tournament.id }}</td>
                <td>{{ tournament.name }}</td>
                <td>
                    {# <a href="{{ path('app_tournament_show', {'id': tournament.id}) }}">show</a> #}
                    {# <a href="{{ path('app_tournament_edit', {'id': tournament.id}) }}">edit</a> #}
                    <a href="{{ path('app_tournament_delete', {'id': tournament.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas de tournois trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
