{% extends 'base.html.twig' %}

{% block title %}Nouveau tournois{% endblock %}

{% block body %}
    <h1>Création d'un nouveau tournois</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Création') }}</button>
    {{ form_end(form) }}


    <a href="{{ path('app_tournament_index') }}">retour sur la liste</a>
{% endblock %}
