{% extends 'base.html.twig' %}

{% block title %}Tournois{% endblock %}

{% block body %}
    <h1>Tournois - déroulement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ tournament.name }}</td>
            </tr>
            <tr>
                <th>Participant</th>
                <td>
                    {% for entrant in tournament.entrants %}
                        {{ entrant.firstname }} {{ entrant.lastname }}<br />
                    {% else %}
                        pas de participant
                    {% endfor %}</td>
            </tr>
            <tr>
                <th>Disponible</th>
                <td>
                    {% for playerAvailable in players_available %}
                        {{ playerAvailable.firstname }} {{ playerAvailable.lastname }}<br />
                    {% else %}
                        pas de joueurs disponible
                    {% endfor %}</td>
            </tr>
            <tr>
                <th>Crée à</th>
                <td>{{ tournament.createdAt ? tournament.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>édité à</th>
                <td>{{ tournament.updatedAt ? tournament.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    {% include 'encounter/_list.html.twig' %}
    
    <br /><br /><br /> 

    <a href="{{ path('app_tournament_generate', {'id': tournament.id}) }}">généré</a>
    <br /><br /><br /> 

    <a href="{{ path('app_tournament_edit', {'id': tournament.id}) }}">éditer</a>
    <br /><br /><br />   
    
    <a href="{{ path('app_tournament_index') }}">Liste des tournois</a>
{% endblock %}
