{% extends 'base.html.twig' %}

{% block title %}Encounter index{% endblock %}

{% block body %}
    <h1>Encounter index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IsFinished</th>
                <th>IsTeam1Won</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for encounter in encounters %}
            <tr>
                <td>{{ encounter.id }}</td>
                <td>{{ encounter.isFinished ? 'Yes' : 'No' }}</td>
                <td>{{ encounter.isTeam1Won ? 'Yes' : 'No' }}</td>
                <td>{{ encounter.createdAt ? encounter.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ encounter.updatedAt ? encounter.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_encounter_show', {'id': encounter.id}) }}">show</a>
                    <a href="{{ path('app_encounter_edit', {'id': encounter.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_encounter_new') }}">Create new</a>
{% endblock %}
