{% extends 'base.html.twig' %}

{% block title %}Les dernières rencontres{% endblock %}

{% block body %}
    <h1>Les dernières rencontres</h1>

    <a href="{{ path('app_encounter_new') }}">Nouvelle rencontre</a>
    
    <h2>Nombre de rencontres: {{ encounters|length }}</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Scores</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for encounter in encounters %}
            <tr>
                <td>
                    {% for encounterPlayer in encounter.EncounterPlayers %}
                        {{ encounterPlayer.player.firstname }} {{ encounterPlayer.player.lastname }} - {{ encounterPlayer.isTeam1 }}<br />
                    {% else %}
                        pas de scores
                    {% endfor %}
                </td>
                <td>
                    {% for score in encounter.scores %}
                        {{ score.scoreTeam1 }} - {{ score.scoreTeam2 }}<br />
                    {% else %}
                        pas de scores
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('app_encounter_show', {'id': encounter.id}) }}">voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
