{% extends 'base.html.twig' %}

{% block title %}Rencontre{% endblock %}

{% block body %}
    <h1>Rencontre</h1>

    <table class="table">
        <thead>
            <tr>
                <th>NAME</th>
                {% for score in encounter.scores %}
                <th>
                    SET {{ score.number }}
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    EQUIPE 1
                    {% for encounterPlayer in encounter.EncounterPlayers %}
                        {% if encounterPlayer.isTeam1 %}
                            <br />{{ encounterPlayer.player.firstname }} {{ encounterPlayer.player.lastname }} [<a href="{{ path('app_player_encounter_remove', {'id': encounterPlayer.id}) }}">X</a>]
                        {% endif %}
                    {% endfor %}
                </td>
                {% for score in encounter.scores %}
                <td>
                    {{ score.scoreTeam1 }}
                </td>
                {% endfor %}
            </tr>
            <tr>
                <td>
                    EQUIPE 2
                    {% for encounterPlayer in encounter.EncounterPlayers %}
                        {% if not encounterPlayer.isTeam1 %}
                            <br />{{ encounterPlayer.player.firstname }} {{ encounterPlayer.player.lastname }} [<a href="{{ path('app_player_encounter_remove', {'id': encounterPlayer.id}) }}">X</a>]
                        {% endif %}
                    {% endfor %}
                </td>
                {% for score in encounter.scores %}
                <td>
                    {{ score.scoreTeam2 }}
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

<br />
<br />
<br />
<br />
<br />

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ encounter.id }}</td>
            </tr>
            <tr>
                <th>IsFinished</th>
                <td>{{ encounter.isFinished ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsTeam1Won</th>
                <td>{{ encounter.isTeam1Won ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ encounter.createdAt ? encounter.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ encounter.updatedAt ? encounter.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_encounter_index') }}">back to list</a>

    <a href="{{ path('app_encounter_edit', {'id': encounter.id}) }}">edit</a>
    <a href="{{ path('app_score_new', {'id': encounter.id}) }}">Ajouter score</a>

    {{ include('encounter/_delete_form.html.twig') }}
{% endblock %}
