{% extends 'base.html.twig' %}

{% block title %}Encounter{% endblock %}

{% block body %}
    <h1>Encounter</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ encounter.id }}</td>
            </tr>
            <tr>
                <th>IsFinished</th>
                <td>{{ encounter.isFinished ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>joueurs</th>
                <td>
                    {% for encounterPlayer in encounter.EncounterPlayers %}
                        {{ encounterPlayer.player.firstname }} {{ encounterPlayer.player.lastname }} - {{ encounterPlayer.isTeam1 }}<br />
                    {% else %}
                        pas de scores
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Score</th>
                <td>
                    {% for score in encounter.scores %}
                        {{ score.scoreTeam1 }} - {{ score.scoreTeam2 }} [<a href="{{ path('app_score_edit', {'id': score.id}) }}">edit</a>]<br />
                    {% else %}
                        pas de scores
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>IsTeam1Won</th>
                <td>{{ encounter.isTeam1Won ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ encounter.createdAt ? encounter.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ encounter.updatedAt ? encounter.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_encounter_index') }}">back to list</a>

    <a href="{{ path('app_encounter_edit', {'id': encounter.id}) }}">edit</a>
    <a href="{{ path('app_score_new', {'id': encounter.id}) }}">Ajouter score</a>

    {{ include('encounter/_delete_form.html.twig') }}
{% endblock %}
